.splash-root {
    -fx-background-color: white;
}

.splash-title {
    -fx-font-size: 60px;
    -fx-font-weight: 700;
    -fx-text-fill: #2f3b52;
    -fx-alignment: center;
    -fx-text-alignment: center;
}